Repository raipiot/raipiot-2f: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

移除不必要的逻辑
  apps/admin/src/features/login/utils.ts
Due: prettier --write, eslint --fix

refactor: :recycle: 将语言切换按钮逻辑提出
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/assets/styles/main.scss
  apps/admin/src/features/layouts/BaseLayout/Header/LanguageButton/index.tsx
  apps/admin/src/features/layouts/BaseLayout/Header/ThemeToggle/index.module.scss
  apps/admin/src/features/layouts/BaseLayout/Header/ThemeToggle/index.tsx
  apps/admin/src/features/portal/components/PortalHeader/index.tsx
  apps/admin/src/shared/hooks/useLanguageMenu.ts
Due: prettier --write, eslint --fix

chore: :hammer: eSLint fix
  .lintstagedrc.json
Due: none

chore: :hammer: lintstaged 移除 ESLint fix
  .lintstagedrc.json
  apps/admin/src/features/portal/components/PortalHeader/index.tsx
  apps/admin/src/features/portal/components/PublicNotify/index.tsx
  apps/admin/src/routes/_portal/index/route.lazy.tsx
Due: prettier --write, eslint --fix

chore: :hammer: 添加 eslint 检查
  .lintstagedrc.json
Due: none

chore: :hammer: update
  .lintstagedrc.json
  apps/admin/src/routes/_portal/index/route.lazy.tsx
Due: prettier --write, eslint --fix

feat: :sparkles: 删除按钮
  apps/admin/src/features/system/dicts/hooks/useDictsColumns.tsx
  apps/admin/src/features/system/dicts/mutations/useSystemDictRemoveMutation.ts
  apps/admin/src/routes/_base/system/dicts/route.lazy.tsx
  apps/admin/src/shared/components/RpDeletePopconfirm/index.tsx
Due: prettier --write, eslint --fix

fix: :bug: 修复供应商注册页面背景图、滚动异常、布局优化
  apps/admin/src/features/layouts/PortalLayout/index.tsx
  apps/admin/src/features/signup/hooks/useSignupForm.ts
  apps/admin/src/routes/_portal/signup/route.lazy.tsx
Due: prettier --write, eslint --fix

feat: :sparkles: 添加创建查询表单的钩子
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/features/form/index.ts
  apps/admin/src/features/form/types.ts
  apps/admin/src/features/layouts/BaseLayout/Content/index.tsx
  apps/admin/src/features/layouts/BaseLayout/Tabs/index.tsx
  apps/admin/src/features/layouts/TableLayout/Header/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitle/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/index.module.scss
  apps/admin/src/features/layouts/TableLayout/Table/index.tsx
  apps/admin/src/features/layouts/TableLayout/index.tsx
  apps/admin/src/features/system/dicts/hooks/useDictValuesColumns.tsx
  apps/admin/src/features/system/dicts/hooks/useDictsColumns.tsx
  apps/admin/src/routes/_base/system/dicts/route.lazy.tsx
  apps/admin/src/shared/components/RpSearchBar/index.tsx
  apps/admin/src/shared/hooks/useTableCreator.ts
  packages/i18n/src/locales/common/en-US.json
  packages/i18n/src/locales/common/zh-CN.json
Due: prettier --write, eslint --fix

feat: :sparkles: 移除 @raipiot-2f/hooks 打包，通过 meta.json 引入，配置 useResponsive 响应式断点，同步 TailwindCSS
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/app/index.tsx
  apps/admin/src/features/form/types.ts
  apps/admin/src/routes/_base/system/dicts/route.lazy.tsx
  apps/admin/src/shared/components/RpSearchBar/index.tsx
  apps/admin/src/shared/hooks/useSearchFormCreator.ts
  apps/admin/vite.config.ts
  package.json
  packages/hooks/meta.json
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/meta.ts
  packages/hooks/tsconfig.json
  packages/hooks/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

fix: :bug: 修复自定义 hooks toggle 函数机制
  apps/admin/src/routes/_portal/signup/route.lazy.tsx
  packages/hooks/src/useBoolean/__test__/index.test.ts
  packages/hooks/src/useBoolean/index.ts
  packages/hooks/src/useToggle/__test__/index.test.ts
  packages/hooks/src/useToggle/index.ts
Due: prettier --write, eslint --fix

feat: :sparkles: 构造查询表单
  apps/admin/package.json
  apps/admin/src/app/routeTree.gen.ts
  apps/admin/src/features/layouts/TableLayout/context.ts
  apps/admin/src/features/layouts/TableLayout/index.tsx
  apps/admin/src/features/system/dicts/hooks/index.ts
  apps/admin/src/features/system/dicts/hooks/useDictValuesColumns.tsx
  apps/admin/src/features/system/dicts/hooks/useDictsColumns.tsx
  apps/admin/src/features/system/dicts/hooks/useDictsSearchFormItems.tsx
  apps/admin/src/features/system/dicts/mutations/useSystemDictRemoveMutation.ts
  apps/admin/src/routes/_base/system/dicts/$id/route.lazy.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.tsx
  apps/admin/src/shared/components/RpSearchBar/index.tsx
  apps/admin/src/shared/utils/page.ts
  packages/api/src/system/dict/dto.ts
  packages/i18n/src/locales/common/en-US.json
  packages/i18n/src/locales/common/zh-CN.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: :hammer: 调整通用表格模版
  apps/admin/src/routes/_base/templates/common-table/route.lazy.tsx
Due: prettier --write, eslint --fix

fix: :bug: 类型修复
  apps/admin/src/features/form/types.ts
Due: prettier --write, eslint --fix

fix: :bug: 添加搜索重置按钮响应式
  apps/admin/src/shared/components/RpSearchBar/index.tsx
  apps/admin/src/shared/hooks/useSearchFormCreator.ts
Due: prettier --write, eslint --fix

fix: :bug: tab 机制修改
  apps/admin/src/features/layouts/BaseLayout/index.tsx
  apps/admin/src/routes/_base/route.tsx
  apps/admin/src/shared/store/tab.ts
Due: prettier --write, eslint --fix

fix: :bug: 列表刷新时重置批量选择内容，将 form 移动到 useSearchForm 中
  apps/admin/src/features/system/dicts/hooks/index.ts
  apps/admin/src/features/system/dicts/hooks/useDictsSearchForm.tsx
  apps/admin/src/features/system/dicts/hooks/useDictsSearchFormItems.tsx
  apps/admin/src/routes/_base/system/dicts/$id/route.lazy.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/routes/_base/templates/common-table/route.lazy.tsx
Due: prettier --write, eslint --fix

refactor: :recycle: 重构 useModal hook
  apps/admin/src/features/modal/enums.ts
  apps/admin/src/features/modal/index.ts
  apps/admin/src/features/modal/maps.ts
  apps/admin/src/features/portal/components/PortalHeader/index.tsx
  apps/admin/src/routes/_base/system/params/route.lazy.tsx
  apps/admin/src/shared/hooks/useModal.ts
  packages/hooks/src/useBoolean/index.ts
Due: prettier --write, eslint --fix

fix: :bug: 修复全屏按钮错误
  apps/admin/src/features/layouts/TableLayout/Modal/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitle/FullScreenButton/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/index.tsx
  apps/admin/src/features/modal/enums.ts
  apps/admin/src/features/modal/index.ts
  apps/admin/src/features/modal/maps.ts
  apps/admin/src/features/modal/types.ts
  apps/admin/src/features/system/dicts/hooks/useDictValuesColumns.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/shared/hooks/useModal.ts
Due: prettier --write, eslint --fix

chore: :hammer: 更新依赖、
  apps/admin/package.json
  package.json
  packages/axios/package.json
  pnpm-lock.yaml
Due: none

deps: :rocket: 同步 infra
  .commitlintrc.json
  .gitignore
  apps/admin/package.json
  apps/mock/package.json
  package.json
  packages/api/package.json
  packages/axios/package.json
  packages/config/package.json
  packages/cspell/package.json
  packages/hooks/package.json
  packages/i18n/package.json
  packages/template/package.json
  pnpm-lock.yaml
Due: none

deps(admin): :rocket: 更新 @tanstack/react-router
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

deps: :rocket: @tanstack/react-router v1.18.1
  apps/admin/package.json
  packages/axios/package.json
  pnpm-lock.yaml
Due: none

deps: :rocket: 同步 infra 依赖
  README.md
  apps/admin/.eslintrc.json
  apps/admin/README.md
  apps/admin/package.json
  apps/mock/README.md
  apps/mock/package.json
  package.json
  packages/api/.eslintrc.json
  packages/api/package.json
  packages/axios/README.md
  packages/axios/package.json
  packages/config/.eslintrc.json
  packages/config/README.md
  packages/config/package.json
  packages/cspell/README.md
  packages/cspell/package.json
  packages/hooks/.eslintrc.json
  packages/hooks/README.md
  packages/hooks/package.json
  packages/i18n/.eslintrc.json
  packages/i18n/README.md
  packages/i18n/package.json
  packages/template/.eslintrc.json
  packages/template/README.md
  packages/template/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(admin): :sparkles: 调整 TableLayout 样式
  apps/admin/src/features/layouts/BaseLayout/Tabs/index.tsx
  apps/admin/src/features/layouts/TableLayout/Header/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/FullScreenButton/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/RefreshButton/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/RowGapButton/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/index.module.scss
  apps/admin/src/features/layouts/TableLayout/Table/index.tsx
  apps/admin/src/features/layouts/TableLayout/index.tsx
  apps/admin/src/shared/hooks/usePagination.ts
  apps/admin/src/shared/hooks/useSearchFormCreator.ts
  apps/admin/src/shared/utils/page.ts
  packages/config/src/index.ts
  packages/i18n/src/locales/common/en-US.json
  packages/i18n/src/locales/common/zh-CN.json
Due: prettier --write, eslint --fix

feat(admin): :sparkles: tab 支持拖拽
  apps/admin/@types/auto-imports.d.ts
  apps/admin/package.json
  apps/admin/src/app/index.tsx
  apps/admin/src/app/providers/index.ts
  apps/admin/src/features/layouts/BaseLayout/Tabs/index.tsx
  apps/admin/src/shared/i18n.ts
  apps/admin/src/shared/providers/AxiosProvider.tsx
  apps/admin/src/shared/providers/index.ts
  apps/admin/src/shared/query-client.ts
  apps/admin/src/shared/router.tsx
  apps/admin/src/shared/store/tab.ts
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(admin): :sparkles: 表格支持响应式，添加粘性布局，移除滚动条
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/FullScreenButton/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/index.module.scss
  apps/admin/src/features/layouts/TableLayout/Table/index.tsx
  apps/admin/src/features/layouts/TableLayout/context.ts
  apps/admin/src/features/layouts/TableLayout/index.tsx
  apps/admin/src/shared/hooks/useFormResponsiveSpan.ts
  apps/admin/src/shared/hooks/useSearchFormCreator.ts
Due: prettier --write, eslint --fix

feat(admin): :sparkles: 兼容 @tanstack/react-query useSuspenseQuery 移除 placeholderData
  apps/admin/package.json
  apps/admin/src/features/layouts/BaseLayout/Tabs/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/TableTitleRow/index.tsx
  apps/admin/src/features/layouts/TableLayout/Table/index.tsx
  apps/admin/src/features/signup/hooks/useSignupForm.ts
  apps/admin/src/features/system/dicts/queries/useSystemDictValuesQuery.ts
  apps/admin/src/features/system/dicts/queries/useSystemDictsQuery.ts
  apps/admin/src/features/system/params/index.ts
  apps/admin/src/features/system/params/queries/index.ts
  apps/admin/src/features/system/params/queries/query-keys.ts
  apps/admin/src/routes/_base/system/dicts/$id/route.lazy.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/shared/components/RpSearchBar/index.tsx
  apps/admin/src/shared/hooks/useModal.ts
  apps/admin/src/shared/hooks/usePagination.ts
  packages/axios/meta.json
  packages/axios/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor(admin): :recycle: 模态框类型 detail 改为 read
  apps/admin/src/features/modal/maps.ts
  apps/admin/src/features/modal/types.ts
  apps/admin/src/shared/hooks/useModal.ts
Due: prettier --write, eslint --fix

feat(admin): :sparkles: 创建弹窗，使用 Suspense 提高加载性能
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/features/layouts/TableLayout/Modal/index.tsx
  apps/admin/src/features/layouts/TableLayout/index.tsx
  apps/admin/src/features/system/dicts/hooks/index.ts
  apps/admin/src/features/system/dicts/hooks/useDictsColumns.tsx
  apps/admin/src/features/system/dicts/hooks/useDictsModalForm.tsx
  apps/admin/src/features/system/dicts/hooks/useDictsSearchForm.tsx
  apps/admin/src/features/system/dicts/index.ts
  apps/admin/src/features/system/dicts/mutations/index.ts
  apps/admin/src/features/system/dicts/mutations/invalidates.ts
  apps/admin/src/features/system/dicts/mutations/useSystemDictRemoveMutation.ts
  apps/admin/src/features/system/dicts/mutations/useSystemDictSubmitMutation.ts
  apps/admin/src/features/system/dicts/queries/useSystemDictValuesQuery.ts
  apps/admin/src/features/system/dicts/queries/useSystemDictsQuery.ts
  apps/admin/src/features/system/dicts/types.ts
  apps/admin/src/routes/_base/system/dicts/$id/route.lazy.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/routes/_base/templates/common-table/route.lazy.tsx
  apps/admin/src/shared/components/RpSearchBar/index.tsx
  apps/admin/src/shared/hooks/useModal.ts
  apps/admin/src/shared/hooks/usePagination.ts
  apps/admin/src/shared/hooks/useRowSelection.ts
  apps/admin/src/shared/utils/format.ts
  packages/api/src/system/dict/dto.ts
  packages/i18n/src/locales/system/dicts/zh-CN.json
  packages/i18n/src/locales/validation/zh-CN.json
Due: prettier --write, eslint --fix

deps: :rocket: 同步 infra v0.1.7
  apps/admin/package.json
  apps/mock/package.json
  package.json
  packages/axios/package.json
  packages/config/package.json
  packages/i18n/package.json
  pnpm-lock.yaml
Due: none

refactor: :recycle: 重构模态框 Hook，提供当前模态框状态，和指定打开模态框类型的方法
  apps/admin/src/features/modal/maps.ts
  apps/admin/src/features/modal/types.ts
  apps/admin/src/features/system/dicts/hooks/useDictsColumns.tsx
  apps/admin/src/routes/_base/system/dicts/$id/route.tsx
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/shared/hooks/useModal.ts
  apps/admin/src/shared/hooks/usePagination.ts
  packages/i18n/src/locales/common/en-US.json
  packages/i18n/src/locales/common/zh-CN.json
  packages/i18n/src/locales/router/en-US.json
  packages/i18n/src/locales/router/zh-CN.json
Due: prettier --write, eslint --fix

refactor: :recycle: 调整 useModal Hook
  apps/admin/src/features/form/types.ts
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/shared/hooks/useModal.ts
  apps/admin/src/shared/hooks/usePagination.ts
Due: prettier --write, eslint --fix

feat(admin): :sparkles: 调整 Modal 全局样式
  apps/admin/src/assets/styles/custom.scss
Due: prettier --write

feat(admin): :sparkles: 编辑弹窗
  apps/admin/package.json
  apps/admin/src/features/layouts/TableLayout/Table/index.module.scss
  apps/admin/src/features/system/dicts/components/SystemDictDetail.tsx
  apps/admin/src/features/system/dicts/components/index.ts
  apps/admin/src/features/system/dicts/hooks/useDictsColumns.tsx
  apps/admin/src/features/system/dicts/index.ts
  apps/admin/src/features/system/dicts/queries/query-keys.ts
  apps/admin/src/features/system/dicts/queries/useSystemDictQuery.ts
  apps/admin/src/routes/_base/system/dicts/index/route.lazy.tsx
  apps/admin/src/shared/components/RpBoolean/index.tsx
  apps/admin/src/shared/hooks/useModal.ts
  packages/api/src/system/dict/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(admin): :sparkles: 工作台开发
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/features/dashboard/components/InfoTabs.tsx
  apps/admin/src/features/dashboard/components/TodoTask.tsx
  apps/admin/src/features/dashboard/components/Wrapper.tsx
  apps/admin/src/features/dashboard/index.ts
  apps/admin/src/features/dashboard/queries/index.ts
  apps/admin/src/features/dashboard/queries/query-keys.ts
  apps/admin/src/features/dashboard/queries/useDashboard.ts
  apps/admin/src/routes/_base/dashboard/route.lazy.tsx
  apps/admin/src/routes/_base/dashboard/route.tsx
  apps/admin/src/shared/api/index.ts
  packages/api/src/dashboard/dto.ts
  packages/api/src/dashboard/index.ts
  packages/api/src/index.ts
Due: prettier --write, eslint --fix

feat: :sparkles: 工作台暗色样式
  apps/admin/@types/auto-imports.d.ts
  apps/admin/src/features/dashboard/components/TodoTask.tsx
  apps/admin/src/features/dashboard/components/Wrapper.tsx
  apps/admin/src/features/layouts/BaseLayout/Content/index.tsx
  apps/admin/src/routes/_base/dashboard/route.lazy.tsx
  apps/admin/src/shared/providers/AxiosProvider.tsx
  apps/admin/src/shared/providers/index.ts
  apps/admin/tailwind.config.js
Due: prettier --write, eslint --fix

chore: :hammer: eslint 问题
  apps/admin/src/features/dashboard/components/TodoTask.tsx
  apps/admin/src/features/layouts/BaseLayout/Content/index.tsx
Due: prettier --write, eslint --fix

Update apps/admin/src/features/dashboard/components/Wrapper.tsx
  apps/admin/src/features/dashboard/components/Wrapper.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,html,css,scss})
  eslint --fix: any of: **/*.{js,ts,jsx,tsx}
